<div class="container">
  <div class="gptres"  id="stream" #stream>
    <div *ngFor="let items of response$ | async ; let i = index" class="item"  >
        <div class="role" *ngIf="items.role !== 'system'">
          {{items.role}} :
        </div>
        <div>
          <pre class="cont" *ngIf="items.role !== 'system'" > {{items.content}}</pre>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="model">
        <div class="model-select">
          <label for="model">Select Model</label>
          <select [(ngModel)]="selectedModel" id="model">
            <option *ngFor="let item of model$ | async" [ngValue]="item.id">{{item.id}}</option>
          </select>
          <div>

              <mat-label>System Role</mat-label>
              <input type="text"[(ngModel)]="system_role">

          </div>
        </div>
        <div>
          <button (click)="chatReset()" >Chat reset!</button>
        </div>
    </div>
    <div class="chat">
      <mat-form-field>
        <textarea matInput
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="4"
                  cdkAutosizeMaxRows="4" [(ngModel)]="data"></textarea>
      </mat-form-field>
      <div class="wyslij">
        <button (click)="verschicken()" *ngIf="loged()">Wyslij</button>
        <button routerLink="login" *ngIf="!loged()">Login</button>
      </div>
    </div>
   </div>
</div>
