.model-select {
  display: flex;
  flex-direction: column;
  gap: .4rem;
}
.container {
  height: 86%;
  width: 99%;
  padding: .3rem .3rem .3rem .3rem;
}
.row {
  height: 10%;
  width: 99%;
}
.model {
  width: 20%;
}
.chat {
  width: 80%;
}
