.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, rgba(128,0,128,0.8), rgba(192,192,192,0.8));
  background-color: #f5f5f5;
}

label {
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 1rem;
}

select {
  margin-top: .5rem;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
  margin-bottom: .5rem;
}

textarea {
  width: 98%;
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
  resize: vertical;
  margin-bottom: .3rem;
}

button {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

div {
  margin-top: auto;
  font-size: 1.2rem;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .4rem;
}
pre {
  font-family: monospace;
  font-size: 14px;
  line-height: 1.5;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  padding: 10px;
  overflow-x: auto;
}

/* Optional: Syntax highlighting */
pre code {
  display: block;
  color: #333;
  overflow-x: auto;
  padding: 0;
  background-color: transparent;
  font-family: monospace;
  font-size: 14px;
}

pre code span {
  color: #0077c2;
}

pre code .string {
  color: #d14;
}

pre code .number {
  color: #008080;
}

pre code .comment {
  color: #999;
}

pre code .keyword {
  color: #900;
}
