html, body {
  height: 100%;
  margin: 0;
  background-color: #8124d8;
}

.container {
  display: flex;
  width: 100%;
  height: calc(100% - 12.5%);

  position: relative;

}

.gptres {
  width: 100%;
  min-height: 100%;
  background-color: #d8c396;
  overflow-y: auto;
  margin: .5rem;
  border-radius: 1rem;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.5rem 0;

}

.role {
  width: 10%;
  padding-left: 0.5rem;
}

.cont {
  width: 90%;
  padding-left: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10%;
  background-color: #e0e0e0;
  margin: .5rem;
  border-radius: .5rem;
  gap: .4rem;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
.model {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  gap: .4rem;
  width: 20%;
  .model-select {
    display: flex;
    flex-direction: column;
   gap: .5rem;
  }
}

.chat {
  display: flex;
  align-items: flex-end;
  margin-bottom: .5rem;
  gap: .4rem;

  width: 80%;
  mat-form-field {
    width: 90%;
  }
}



button {
  border-radius: 5px;
  background-color: #8124d8;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  color: #ffffff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
  width: 6rem;
  height: 30px;
}
button:hover {
  background-color: #258a00;
}


